<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<!-- Ajout de commentaire pour test commit comptabilisé sur github !-->
<dom-module id="online-home">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <p>VUE D ACCUEIL MDR</p>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OnlineHome extends Polymer.Element {
      static get is() { return 'online-home'; }
    }
    window.customElements.define(OnlineHome.is, OnlineHome);  
  </script>
    
    
</dom-module>
