<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<!-- Ajout de commentaire pour test commit comptabilisé sur github !-->
<dom-module id="online-experience">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <p>VUE EXPERIENCES MDR</p>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OnlineExperience extends Polymer.Element {
      static get is() { return 'online-experience'; }
    }
    window.customElements.define(OnlineExperience.is, OnlineExperience);
      
      
  </script>
    
    
</dom-module>
