<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<!-- Ajout de commentaire pour test commit comptabilisé sur github !-->
<dom-module id="online-animated-background">
  <template>
    <style>
      :host {
        display: block;
      }
    canvas
        {
              margin: 0px;
              background: #000;
        }
    </style>
      <canvas id="cvs" width="{{width}}" height="{{height}}"></canvas>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class OnlineAnimatedBackground extends Polymer.Element {
      static get is() { 
          return 'online-animated-background'; }
    
      static get properties()
        {
            return {
                width : {
                    type : String,
                    value : "{{width}}"
                },
                height : {
                    type : String,
                    value : "{{height}}"
                }
            }
        }
    
        // when the page is ready draw the background
        ready() {
            super.ready();
        }
    }
      
    window.customElements.define(OnlineAnimatedBackground.is, OnlineAnimatedBackground);
    </script>
</dom-module>
