<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<!-- Ajout de commentaire pour test commit comptabilisé sur github !-->
<dom-module id="online-donut-menu">
    <template>
        <style>
            :host {
                display: block;
            }

            .menu
            {
                position : absolute;
                opacity : 0;
                color: #f8f8f8;
                visibility: hidden;
            }

            .balls{
                border-radius: 100%;
            }

            #svgContainer
            {
                text-align : center;
                margin: 0 auto;
                opacity: 0.8;

            }

            #donut
            {
                width : 100%;
                height:  100%;
            }

            #ballacc,#ballxp,#ballproj,#ballform, #ballpres{
                height: 10%;
                width: 10%;
                position: absolute;
                opacity: 0;
                box-shadow: 0px 10px 5px rgba(0,0,0,0.6); -moz-box-shadow: 0px 10px 5px rgba(0,0,0,0.6); -webkit-box-shadow: 0px 10px 5px rgba(0,0,0,0.6); -o-box-shadow: 0px 10px 5px rgba(0,0,0,0.6);
            }

            #acc #ballacc   { background: linear-gradient(#991915, #CC5C5C); }
            #xp #ballxp { background: linear-gradient(#F6F6F6, #B9B9B9);}
            #proj #ballproj { background: linear-gradient(#333333, #999999);}
            #form #ballform { background: linear-gradient(#E8E8E8, #AEAEAE);}
            #pres #ballpres { background: linear-gradient(#B91818, #DC7373);}

            #accMenu {background-color: rgba(153,25,21,0.7);}
            #xpMenu {background-color: rgba(246,246,246,0.7);}
            #projMenu {background-color: rgba(51,51,51,0.7);}
            #formMenu {background-color: rgba(232,232,232,0.7);}
            #presMenu {background-color: rgba(185,24,24,0.7);}

            .menu
            {
                font-size: 1.2em;
                width: 30%;
                height: 30%;
                display : flex;
                text-align: center;
                border-radius: 50%;
                box-shadow: 0px 10px 5px rgba(0,0,0,0.6); -moz-box-shadow: 0px 10px 5px rgba(0,0,0,0.6); -webkit-box-shadow: 0px 10px 5px rgba(0,0,0,0.6); -o-box-shadow: 0px 10px 5px rgba(0,0,0,0.6);
            }
            .enfant
            {
                margin : auto;
            }

        </style>
        <div id="donut">
            <div id="acc">
                <div id="ballacc" class="balls">
                </div>
            </div>
            <div id="xp">
                <div id="ballxp" class="balls">
                </div>
            </div>
            <div id="proj">
                <div id="ballproj" class="balls">
                </div>
            </div>
            <div id="form">
                <div id="ballform" class="balls">
                </div>
            </div>
            <div id="pres">
                <div id="ballpres" class="balls">
                </div>
            </div>
            <div id="svgContainer">
                <object data="public/images/menu.svg" type="image/svg+xml" id="svg" width="100%" height="100%"></object>
            </div>
            <audio id="audio">
                <source src="public/songs/Bumpers/Bump.wav"></source>

            </audio>
        <audio id="pinballSong">
            <source src="public/songs/Bumpers/PinballSong.mp3"></source>
        </audio>
    </div> 
<div id="accMenu" class="menu selected">
    <div class="enfant">
        <p>Accueil</p>
    </div>

</div>
<div id="xpMenu" class="menu">
    <div class="enfant">
        <p>Experiences</p>
    </div>
</div>
<div id="projMenu" class="menu">
    <div class="enfant">
        <p>Projets</p>
    </div>
</div>
<div id="formMenu" class="menu">
    <div class="enfant">
        <p>Formations</p>
    </div>
</div>
<div id="presMenu" class="menu" >
    <div class="enfant">
        <p>Présentation</p>
    </div>
</div>
</template>

<script>
    /**
     * @customElement
     * @polymer
     */
    class OnlineDonutMenu extends Polymer.Element {
        static get is() { return 'online-donut-menu'; }
        ready()
        {
            super.ready();
            /** SVG PART **/
            // Retrieves the svg
            var svg = this.$.svg
            /** Set te static value now because after we're in svg doc ! **/
            var accball = this.$.ballacc;
            var xpball = this.$.ballxp;
            var formball = this.$.ballform;
            var projball = this.$.ballproj;
            var presball = this.$.ballpres;
            var donut = this.$.donut;
            /** End of static value **/
            var largeur = window.innerWidth;
            var hauteur = window.innerHeight;
            var audio = this.$.audio;
            var accMenu = this.$.accMenu;
            var xpMenu = this.$.xpMenu;
            var projMenu = this.$.projMenu;
            var formMenu = this.$.formMenu;
            var presMenu = this.$.presMenu;
            var pinballSong = this.$.pinballSong;
            svg.onload = function()
            {                
                // Retrieves the svg content
                var svgDocXml = svg.contentDocument;
                // Retrieves all path from the document
                var paths = svgDocXml.getElementsByTagName("path");
                var coordPathDiv = [];

                // Alim the array with all width and height path for future calc
                for(var i = 0 ; i < paths.length; i++)
                {
                    coordPathDiv.push(paths[i].getBoundingClientRect());
                }
                // On resize i calculate the new div width and height
                $(window).resize(function() {

                    for(var i = 0 ; i < paths.length ; i++)
                    {
                        coordPathDiv[i] = paths[i].getBoundingClientRect();
                    }
                });

                for(var i = 0 ; i < paths.length ; i++) //Foreach paths
                {
                    var currentPath = paths[i];
                    var xMidPath = 0;
                    var yMidPath = 0;

                    // When mouse enter in the shape
                    $(currentPath).mouseenter(function()
                                              {
                        audio.play();
                        // Retrieve the color from the current path tag
                        var color = this.getAttribute("fill");
                        color = getHoverColor(color);
                        // Retrieve the id name for animation
                        var pathId = this.getAttribute("id");
                        var ballName;
                        if(pathId != "SVGID_1_")
                        {
                            ballName = "#ball" + pathId;
                        }

                        /** Retrieves the component from the id name in file **/
                        /** test de commit sur develop */
                        if(ballName != "undefined")
                        {
                            // Set Symbol
                            var symboleX="";
                            var symboleY="";

                            // Set value for computed animation
                            var xValue = "0";
                            var yValue = "0";

                            // Set starting value of the anim (TODO)
                            var startX ;
                            var startY ;
                            var bumperTodraw, animatedMenu;

                            if(ballName == "#ballacc")
                            {
                                ballName = accball;
                                symboleX = "+";
                                symboleY = "-";
                                yValue = coordPathDiv[2].height /2;
                                xValue = coordPathDiv[2].width / 2;

                                startX = coordPathDiv[2].width + coordPathDiv[1].width;
                                startY = 0;
                                bumperTodraw = svgDocXml.getElementById("accBumper");
                                animatedMenu = accMenu;

                            }
                            else if(ballName == "#ballxp")
                            {
                                ballName = xpball;
                                symboleX="-";
                                symboleY="-";
                                yValue = coordPathDiv[1].height/ 2;
                                xValue = coordPathDiv[1].width / 2;
                                startX = 0;
                                startY = 0;
                                bumperTodraw = svgDocXml.getElementById("xpBumper");
                                animatedMenu = xpMenu;
                            }
                            else if(ballName == "#ballproj")
                            {
                                ballName = projball;
                                symboleX="-";
                                xValue=coordPathDiv[1].width/2;
                                startX = 0 - coordPathDiv[1].width/5;
                                startY = coordPathDiv[1].height + coordPathDiv[5].height/3;
                                bumperTodraw = svgDocXml.getElementById("projBumper");
                                animatedMenu = projMenu;

                            }
                            else if(ballName == "#ballform")
                            {
                                ballName = formball;
                                symboleX="+";
                                xValue=coordPathDiv[3].width / 2;
                                startX = coordPathDiv[2].width + coordPathDiv[3].width + coordPathDiv[2].width/3 ;
                                startY = (coordPathDiv[2].height + coordPathDiv[3].height) / 1.75
                                bumperTodraw = svgDocXml.getElementById("formBumper");
                                animatedMenu = formMenu;
                            }
                            else if(ballName == "#ballpres")
                            {
                                ballName = presball;
                                symboleY="+";
                                yValue=coordPathDiv[4].height /2; 
                                xValue= coordPathDiv[4].width /2;
                                startY = coordPathDiv[1].height + coordPathDiv[4].height + coordPathDiv[4].height/ 5;
                                startX = (coordPathDiv[5].width + coordPathDiv[3].width) /2 ;
                                bumperTodraw = svgDocXml.getElementById("presBumper");
                                animatedMenu = presMenu;
                            }
                            // Get some data for maxWidth and maxHeight
                            $(ballName).css("opacity","1");
                            $(ballName).css("left",startX);
                            $(ballName).css("top",startY);
                            $(bumperTodraw).css("visibility","visible");
                            $(ballName).animate({left : symboleX + "=" + xValue, top : symboleY+"="+yValue}, 
                                                {
                                duration : 250,
                                complete: function(){
                                    pinballSong.play();
                                    $(this).removeAttr("style");
                                    $(bumperTodraw).css("visibility","hidden");
                                    if("+" == symboleX)
                                    {
                                        startX += xValue;
                                    }
                                    else if("-" == symboleX)
                                    {
                                        startX -= xValue;
                                    }

                                    if("+" == symboleY)
                                    {
                                        startY += yValue;
                                    }
                                    else if("-" == symboleY)
                                    {
                                        startY -= yValue;
                                    }

                                    if(animatedMenu == accMenu)
                                    {
                                        startY = startY + startY;
                                        startX = startX + startX /8;
                                    }
                                    else if(animatedMenu == xpMenu)
                                    {
                                        startY = startY + startY;
                                        startX = startX + startX;
                                    }
                                    else if(animatedMenu == projMenu)
                                    {
                                        startX = startX + startX;
                                        startY = startY - (startY/6);
                                    }
                                    else if(animatedMenu == presMenu)
                                    {
                                        startX = startX - startX/10;
                                        startY = startY - startY/10;
                                    }
                                    else if(animatedMenu == formMenu)
                                    {
                                        startY = startY -startY/5;
                                        startX = startX + startX /7;
                                    }
                                    $(animatedMenu).css("left",startX/1.1);
                                    $(animatedMenu).css("top",startY);
                                    $(animatedMenu).css("opacity","1");
                                    $(animatedMenu).css("visibility","visible");
                                    $(animatedMenu).css("border","6px solid #fff");
                                    $(animatedMenu).click(function()
                                    {
                                       window.location.hash = "/" + $(this).text().trim();
                                                          
                                    });
                                    $(animatedMenu).stop().delay(300).animate(
                                        {opacity: 0},                            
                                        {
                                            duration: 7500,
                                            complete : function(){
                                                $(this).removeAttr("style");
                                            }
                                        })
                                }
                            });

                        }
                    });
                };

                // Fonction pour récuperé une couleur (en lien avec la couleur passé en paramètre : Equilibré quoi!)
                var getHoverColor = function(color)
                {
                    var hoverColor = "white";
                    switch(color)
                            {
                        case "#F6F6F6":
                            hoverColor = "#B9B9B9"
                            break;
                        case "#E8E8E8":
                            hoverColor = "#AEAEAE";
                            break;
                        case "#333333":
                            hoverColor = "#999999";
                            break;
                        case "#991915":
                            hoverColor = "#CC5C5C";
                            break;
                        case "#B91818":
                            hoverColor = "#DC7373";
                            break;
                    }
                    return hoverColor;
                }
                }
        }
    }
    window.customElements.define(OnlineDonutMenu.is, OnlineDonutMenu);
</script>

<script>
</script>


</dom-module>
