<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<!-- Ajout de commentaire pour test commit comptabilisé sur github !-->
<dom-module id="online-404">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <p>VUE 404 MDR</p>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class Online404 extends Polymer.Element {
      static get is() { return 'online-404'; }
    }
    window.customElements.define(Online404.is, Online404);
      
      
  </script>
    
    
</dom-module>
